* text=auto encoding=utf-8

*.html     diff=html
*.php      diff=php
*.bat      eol=crlf
*.cmd      eol=crlf
.gitignore -eol

/tests          export-ignore
/perf           export-ignore
/tools          export-ignore
/vendor-bin     export-ignore
/.gitattributes export-ignore
/.gitignore     export-ignore
/.php_cs.dist   export-ignore
/robo           export-ignore
/robo.bat       export-ignore
/RoboFile.php   export-ignore
