<?xml version="1.0"?>
<phpunit
    colors="true"
    bootstrap="bootstrap.php"
    convertErrorsToExceptions="false"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    stopOnError="true">

<filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">../lib</directory>
  </whitelist>
</filter>

<testsuites>
    <testsuite name="Encoding">
        <!--<file>cases/Encoding/TestUTF8.php</file>
        <file>cases/Encoding/TestUTF16LE.php</file>
        <file>cases/Encoding/TestUTF16BE.php</file>
        <file>cases/Encoding/TestSingleByte.php</file>
        <file>cases/Encoding/TestXUserDefined.php</file>
        <file>cases/Encoding/TestEUCJP.php</file>
        <file>cases/Encoding/TestGB18030.php</file>
        <file>cases/Encoding/TestBig5.php</file>
        <file>cases/Encoding/TestEUCKR.php</file>
        --><file>cases/Encoding/TestShiftJIS.php</file>

        <file>cases/TestEncoding.php</file>
    </testsuite>
</testsuites>
</phpunit>
